<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script type="text/javascript" src="./js/jquery-3.2.0.min.js"></script>
	<script type="text/javascript" src="./js/angular.min.js"></script>
	<script type="text/javascript" src="./js/gen.js"></script>
	<style>
		div.app {
			width:95%;
		}

		div.step {
			border-style: solid;
			border-width: 1px;
		}
		
		div:nth-child(2n) {
			background: palegoldenrod;
		}
		
		input.full {
			width:95%;
		}
		
		textarea.full {
			width:95%;
			height:200px;
		}
		
		span.block {
			display:block;
			width:95%;
		}
	</style>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl" class="app ng-scope">
    <span class="block">
        <label>Symbol</label>
        <input type="text" id="symbol" class="full ng-pristine ng-untouched ng-valid ng-empty" ng-model="symbolText">
    </span>
    <span class="block">
        <label>Git File Path</label>
        <textarea id="gitFilePath" class="full ng-pristine ng-untouched ng-valid ng-empty" ng-model="gitFilePathValue"></textarea>
    </span>
    <span class="block">
        <label>TransferResult</label>
        <textarea id="result" class="full ng-pristine ng-untouched ng-valid ng-empty" ng-model="transferResult"></textarea>
        <span class="block">
            <button id="btn1" ng-click="transfer(symbolText, gitFilePathValue)">transfer</button>
         </span>
    </span>
</div>
<script type="text/javascript">
var pathSplitSymbol = "/";

var app = angular.module('myApp', []);

var myCtrl = app.controller('myCtrl', function($scope, $http, $compile) {
  
  $scope.symbolText = "";
  $scope.gitFilePathValue = "";
  $scope.transferResult = "";
  
  $scope.transfer = function(symbolText, gitFilePathValue) {
    //var gitFilePathHtml = document.getElementById('gitFilePath').value;
    //console.log(JSON.stringify(gitFilePathHtml.split('\r\n')));
    
    this.transferResult = "";
    
    var splitResult = gitFilePathValue.split('\r\n');
    if (splitResult.length <= 1) {
      splitResult = splitResult[0].split('\n');
    }
    
    var fileAndPath;
    var result = [splitResult.length];
    for(var i = 0; i <splitResult.length; i++) {
      fileAndPath = getFileAndPath(splitResult[i].trim());
      if (fileAndPath == false) {
        console.log("fileAndPath error! fileAndPath is " + splitResult[i]);
        continue;
      }
      
      result[i] = fileAndPath[1].trim().replace('javasrc', symbolText).replace(new RegExp("\\\\", 'g'), pathSplitSymbol) + pathSplitSymbol +  fileAndPath[0].trim() + '.java';
      this.transferResult = this.transferResult + result[i] + '\n';
    }
    
    console.log(JSON.stringify(result));
  }
  
});

var fileTypes = ['.java', '.xml', '.sh', '.sql'];

function getFileAndPathByFileType(fileAndPath, fileType) {
  fileAndPath = fileAndPath.split(fileType);
  if (fileAndPath.length != 2) return false;
  
  return fileAndPath;
}

function getFileAndPath(fileAndPath) {
  var result = false;
  for(var i = 0; i < fileTypes; i++) {
    result = getFileAndPathByFileType(fileAndPath, fileTypes[i]);
    if (result == false) continue;
    
    break;
  }
  
  return result;
}

</script>

</body>
</html>